
= stylesheet_link_tag 'http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css'


= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Open+Sans:400'
= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Open+Sans:400italic'
= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Open+Sans:600'
= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Open+Sans:700'
= stylesheet_link_tag 'main.css'
