!!!
%html{lang: 'de'}
  %head
    = render_partial '_assets.metadata'
    = render_partial '_assets.stylesheets'
    = render_partial '_assets.javascripts'

  %body{class: "#{body_class} layout-haml"}
    = render_partial '_header'
    .container
      = yield
    = render_partial '_footer'

